@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --darkest-color : #000000;
    --primary-text-color: white;
    --secondary-text-color: #519259;
    --tertiary-text-color: #B2B1B9;
    --primary-gradient-color : #CF56A1;
    --secondary-gradient-color: #8E05C2;
    --tertiary-gradient-color: #7E0CF5; 
    --secondary-box-color: #EDEDED; 
    --primary-box-color: #F9F9F9; 
    --tertiary-box-color: #323232; 
}
/**** NavBar Section ****/

nav.navbar-custom{
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    height: 5rem;
    background-color: var(--darkest-color);
    color: var(--primary-text-color);  
}

nav.navbar-custom .nav-items{
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

nav.navbar-custom .nav-items .brand{
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    padding-top: 1rem;
}
nav.navbar-custom .nav-items .brand .fab.fa-spotify{
    font-size: 2.5rem;
    padding-right: 0.5rem;
}
nav.navbar-custom .nav-items .list-items{
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 1rem;
}
nav.navbar-custom .nav-items .list-items li{
    padding-right: 1.5rem;
    font-weight: 600;
}
nav.navbar-custom .nav-items .list-items li:hover{
    cursor: pointer;
    color: var(--secondary-text-color);
}
nav.navbar-custom .nav-items .list-items a{
    padding-right: 1.5rem;
    font-weight: 600;
    color: var(--primary-text-color);
    text-decoration: none;
}
nav.navbar-custom .nav-items .list-items a:hover{
    color: var(--secondary-text-color);
}
nav.navbar-custom .nav-items .list-items .vertical-line:hover{
    color: var(--primary-text-color);
    cursor: default;
}
/**** End of NavBar Section ****/


/**** Spotify Top Container Section ****/
.top-container{
    display: flex;
    align-items: center;
    height: 590px;
    width: 100%;
    background-image:linear-gradient(155deg,var(--primary-gradient-color),var(--secondary-gradient-color), var(--tertiary-gradient-color));
}
.top-container img{
    height: 30rem;
    width: 25rem;
    margin-top: 3.5rem;
    margin-left: 3.5rem;
    margin-right: 2rem;
}
.top-container .column2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    padding:2rem;
    color: var(--primary-text-color);
}
.top-container .column2 button{
    height: 3rem;
    width: 15rem;
    border-radius: 999px;
    border-style: none;
    padding-top: 0.2rem;
}
.top-container .column2 button:hover{
    background-color: var(--tertiary-text-color) ;
}
.top-container .column2 button.apple{
    margin-left: 5.5rem;
}
.top-container .column2 button.googleplay{
    margin-left: 0.5rem;
}
.top-container .column2 button span{
    display: flex;
    padding-left: 6rem;
    padding-top: 0.3rem;
    font-size: 0.5rem;
    font-weight: 500;
}
.top-container .column2 button i{
    display: inline-flex;
    font-size: 1rem;
}
.top-container .column2 button p{
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
}

/**** End of Spotify Top Container Section ****/



/**** Spotify Why Section ****/
#midsec-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 4rem;
    color: var(--darkest-color);
}
.mid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem ;
}

.mid-container div{
    /* height: auto; */
    width: 270px;
    text-align: center;
    margin-left: 0.5rem;
}

.mid-container .mid-items{
    padding: 1rem 1rem 0 1rem;
}

.mid-items img{
    height: 160px;
}
.mid-items h3{
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--darkest-color);
    margin-top: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mid-items p{
    font-family: 'Heebo', sans-serif ;
    font-size: 1rem;
    color: var(--darkest-color);
    font-weight: 500;
    margin-top: 0.9rem;
    letter-spacing: 0.25px;
}
/**** End of Spotify Why Section ****/


/**** Spotify Mid2 Section ****/
.mid2-section{
    background-image: linear-gradient(185deg,var(--primary-gradient-color),var(--secondary-gradient-color),var(--tertiary-gradient-color));
    height: 500px;
    
    
}
.mid2-section h1{
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    
}
h1.space{
    padding-top: 10.5rem;
}
/**** End of Spotify Mid2 Section ****/


/**** Spotify Question Section ****/

.accordian{
    margin: 3rem 3rem 0 3rem;
}
.accordian .title{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--darkest-color);
    text-align: center;
    margin-top: 2rem;
}
.accordian .accordian-text{
    display: flex;
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}
.accordian .accordian-text ul{
    width: 100%;
    align-content: space-between;
}
.accordian .accordian-text ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}
.accordian .accordian-text ul li .question{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: var(--darkest-color);
    box-sizing: content-box;
    height: 45px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px ;
    margin-top: 0.5rem;
    background-color: var(--primary-box-color);
    
}
.accordian .accordian-text ul li .question:hover{
    background-color: var(--secondary-box-color);
    cursor: pointer;
    pointer-events: auto;
}
.accordian .accordian-text ul li .question:hover .faq-text{
    text-decoration: underline;
    cursor: pointer;
    pointer-events: auto;
}

.accordian .accordian-text .faq-answer{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    display: none;
}
.accordian .accordian-text .faq-answer .green{
    color: var(--secondary-text-color);
    font-weight: 700;
}

/**** End of Spotify Question Section ****/


/**** Spotify Bottom Section ****/
.bottom-container{
    height: 500px;
    background-image: linear-gradient(45deg, var(--primary-gradient-color),var(--tertiary-gradient-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: var(--primary-text-color);
    text-align: center;
    /* padding-top: 130px */
}
.bottom-container button{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: var(--darkest-color);
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    height: 3rem;
    width: 15rem;
    border-radius: 999px;
    border-style: none;
    margin-top: 2rem;

}
.bottom-container button:hover{
    cursor: pointer;
    pointer-events: auto;
    width: 15.1rem;
    height: 3.1rem;
    box-shadow: 5px 5px 45px var(--secondary-gradient-color);

}
/**** Spotify Bottom Section Ends ****/


/**** Footer ****/
.footer{
    background-color: var(--darkest-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}
.footer .brand{
    display: inline-flex;
    padding-top: 5rem ;
    padding-left: 3rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;

}
.footer .brand .fab.fa-spotify{
    font-size: 2.5rem;
    padding-right: 0.5rem;
}
.footer .resource-container{
    display: inline-flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}
.resource-container .useful-resources p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--tertiary-text-color);
}
.resource-container .useful-resources li{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 3;
    font-weight: 500;
}
.resource-container .useful-resources li:hover{
    cursor: pointer;
    color: var(--secondary-text-color);
}
.footer .handles{
    display: inline-flex;
    margin-left: 8rem;
}
.handles .logo-box{
    height: 60px;
    width: 60px;
    background-color: var(--tertiary-box-color);
    border-radius: 100%;
    margin-right: 1rem;
    position: relative
}
.logo-box i.fab{
    position: absolute;
    font-size: 25px;
    padding: 19px;
}
.logo-box i.fab.fa-facebook-f{
    padding-left: 21px;
}
.handles .logo-box:hover{
    cursor: pointer;
    pointer-events: auto;
}

.logo-box:hover i:hover{
    color: var(--secondary-text-color);
}
.footer-end{
    display: flex;
    justify-content: space-between;
}
.footer-end .terms{
    display: inline-flex;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    list-style: none;
    font-size: 12px;
    color: var(--tertiary-text-color);
    font-weight: 500;
} 

.terms li{
    padding-right: 1.5rem;
} 
.terms li:hover{
    color: var(--secondary-text-color);
    cursor: pointer;
}

.little-container{
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--tertiary-text-color);
    font-weight: 500;
    margin-right: 4rem;
}
.little-container .language{
    display: flex;
}
.little-container .language:hover{
    color:var(--secondary-text-color);
    cursor: pointer;
}
.language i{
    font-size:10px ;
    padding-right: 5px;
    text-align: end;
}
.copy-right i{
    font-size: 10px;
    padding-right: 5px;
    text-align: end;
}
.little-container .copy-right{
    display:flex;
    
}
/**** End of Footer ****/


/**** Start of Login page ****/

/**** Header Section ****/
div.header{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--darkest-color);
    margin: 1.5rem;
    justify-content: center;
    margin-bottom: 0;
}
div.header i{
    padding-right: 0.5rem;
    font-size: 3.5rem;
}
/**** End of Header Section ****/

/*** horizontal line ****/
#hr-line{
    border-top: 1px solid var(--tertiary-text-color);
    box-shadow: none;
    border-bottom-width: 0;
    margin-top: 0;
}
/*** horizontal line ****/

/*** Start of P-tag ****/
#tag-line{
    text-align: center;
    margin: 1.5rem 1rem 1rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
}
/**** End of P-tag ****/

/**** Start of Buttons ****/
div.login-opt-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.login-opt-buttons button{
    display: flex;
    width: 26rem;
    height: 2.5rem;
    border-radius: 999px;
    justify-content: center;
    margin: 0.3rem 1rem 0.3rem 1rem;
}
div.login-opt-buttons button i{
    align-self: center;
    padding-right: 0.5rem;
}
div.login-opt-buttons button p{
    font-weight: 500;
}
div.login-opt-buttons button.btn.btn-dark:hover{
    background-color: var(--darkest-color);
}
/**** End of Buttons ****/

/**** Start of Form Section ****/

div.extra-details{
    display: flex;
    justify-content: center;
}
div.extra-details hr{
    width: 11rem;
    margin: 1rem;
   border-top: 2px solid var(--darkest-color);
}
div.extra-details p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    font-weight: 500;
    color: var(--darkest-color);
}

form.login-page{
   width: 26rem;
    margin: auto;
}

form.login-page label{
    font-family: 'Heebo', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    word-spacing: 2px;
    color: var(--darkest-color);
}
form.login-page label.custom-label{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
form.login-page input{
    width: 25rem;
    height: 2rem;
}
form.login-page input#email{
    padding-left: 1rem;
    padding-right: 1rem;
}
form.login-page input#password{
    padding-left: 1rem ;
    padding-right: 1rem;
}
form.login-page a.pss-link{
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--tertiary-box-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
form.login-page a.pss-link:hover{
    color: var(--secondary-text-color);
}
form.login-page input#credentials{
    display: inline-flex;
    width: 30px;
    height: 16px;
    padding-left: 0.1rem;
}
form.login-page .remember-me{
    color: var(--tertiary-box-color);
}
form.login-page .btn.login-btn{
    border-radius: 999px;
    height: 3.5rem;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 5rem;
}
div#end-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#end-div hr{
    width: 26rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 2px solid var(--darkest-color);
}
div#end-div h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--darkest-color);
}
div#end-div .btn.btn-outline-secondary{
    border-radius: 999px;
    width: 26rem;
    height: 2.5rem;
    margin: 0.5rem 1rem 1rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}
/**** End of Form Section ****/

/**** End of Login Page ****/

/**** Start of Signup Page ****/

/**** Head section ****/
div.brand{
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--darkest-color);
}
div.brand i{
    font-size: 2.5rem;
    padding-right: 0.3rem;
}

h3.tag-line{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--darkest-color);
}

button.btn.btn-primary.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    margin: 1.5rem auto 0.5rem auto;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    width: 13rem;
    height: 3rem;
}
/**** End of Head Section ****/

/**** Start of Form Section ****/
h4.form-heading{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--tertiary-box-color);
    word-spacing: 2px;
}
form.signup-form{
    width: 26rem;
    margin: auto;
}
form.signup-form label{
    font-family: 'Heebo', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    word-spacing: 2px;
    color: var(--darkest-color);
}
form.signup-form input{
    width: 26rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
form.signup-form input.input-space{
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
}
form.signup-form p#form-text{
    font-family: 'Poppins',sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--darkest-color);
}
form.signup-form div.gender{
    display: flex;
    align-items: center;
}
form.signup-form div.gender input{
    width: 20px;
    border-color: var(--tertiary-box-color);
    margin-right: 0.5rem;
}
form.signup-form div.gender label{
    font-family: 'Poppins',sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary-box-color);
    margin-right: 1.5rem;
}
form.signup-form div.checkbox-1{
    display: flex;
}
form.signup-form div.checkbox-1 input#get-no-msg{
    width: 1rem;
    margin-right: 1rem;
    border-color: var(--tertiary-box-color);
}
form.signup-form div.checkbox-1 label{
    font-family: 'Heebo',sans-serif;
    font-size: 0.8rem;
    font-family: 200;
    align-self: center;
    color: var(--tertiary-box-color);
}
form.signup-form div.checkbox-2{
    display: flex;
}
form.signup-form div.checkbox-2 input#share-data{
    width: 1.3rem;
    margin-right: 1rem;
    border-color: var(--tertiary-box-color);
}
form.signup-form div.checkbox-2 label{
    font-family: 'Heebo',sans-serif;
    font-size: 0.8rem;
    font-family: 200;
    align-self: center;
    color: var(--tertiary-box-color);
}

form#rep-form{
    width:18rem;
    margin: 1.5rem auto 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-text-color);
    padding: 1rem;
}
form#rep-form div.recaptcha-section{
    display: inline;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--tertiary-box-color);
}
form#rep-form div.recaptcha-section input#robot{
    width:1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}
form#rep-form div.rep-logo{
    display: inline-flex;
    flex-direction: column;
    margin-left: 3rem;
    
}
form#rep-form div.rep-logo img{
    height: 1.5rem;
    width: 2rem;
}
form#rep-form div.rep-logo p{
    font-family: 'Poppins',sans-serif;
    font-size: 0.5rem;
    font-weight: 500;
    color: var(--tertiary-box-color);
}
ul.instructions{
    width: 30rem;
    margin: 2rem auto 1rem auto;
}
ul.instructions li{
    font-family: 'Heebo', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--darkest-color);
    list-style: none;
    word-spacing: 2px;
    text-align: center;
    margin-top: 1rem;
}
ul.instructions li a{
    color: var(--secondary-text-color);
    font-weight: 600;
}

div.end-btn{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 33rem 1rem 33rem;
}
div.end-btn button{
    height: 3.5rem;
    width: 10rem;
    border-radius: 999px;
    margin-bottom: 1rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
div.end-btn p{
    font-family: 'Heebo',sans-serif;
    font-size: 1rem;
    color: var(--darkest-color);
}
div.end-btn p a{
    color: var(--secondary-text-color);
    font-weight: 700;
}
/**** End of Form Section ****/

/**** End of Signup Page ****/
